@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 84% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 84% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 84% 60%;
    --radius: 0rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 0 84% 60%;
    --primary-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.cube-loader {
  width: 40px;
  height: 40px;
  position: relative;
}

.cube {
  width: 50%;
  height: 50%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  animation: cubeMove 1s infinite ease-in-out;
}
.red-cube {
  width: 50%;
  height: 50%;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  animation: cubeMove 1s infinite ease-in-out;
}

.cube:nth-child(2) {
  animation-delay: 0.5s;
}

@keyframes cubeMove {
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateY(100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.loading-overlay-red {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Spinner styles */
.spinner-loader {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid black; 
  border-radius: 50% !important;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}